.gradient-custom {
  background: #6a11cb;
  background: linear-gradient(
    to right,
    rgba(178, 17, 203, 0.8),
    rgba(31, 38, 166, 0.8)
  );
}

h5 {
  color: #b28bd9;
}
#um {
  color: #ddcaf1;
  background: #6a11cb;
  background: radial-gradient(rgb(101, 14, 104), rgba(11, 22, 89, 1));
}
#dois {
}
#tres {
  background-color: turquoise;
}
#quatro {
  color: #ddcaf1;
  background: #6a11cb;
  background: rgba(12, 23, 85, 1);
}
#cinco {
  background-color: white;
}
.fonte-resiliaflix {
  font-family: "Righteous", cursive;
}
.fonte-texto {
  font-family: "Varela Round", sans-serif;
}
.borda-card {
  border-color: transparent;
}
.card-imagem {
  object-fit: cover;
  height: 100px;
}
