.opacity-navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(40, 2, 41, 0.5);
}

.transparencia-navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(40, 2, 41, 0);
}

.logo {
  color: aliceblue;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  cursor: pointer;
}

.logo:hover {
  color: rgb(182, 108, 224);
  font-weight: bold;
}

.barra-nav {
  display: flex;
  justify-content: end;
}

.tamanho-nav {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-around;
}

.home,
.contato {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.home:hover {
  color: rgb(182, 108, 224);
  font-weight: bold;
}

.contato:hover {
  color: rgb(182, 108, 224);
  font-weight: bold;
}

.busca {
  display: flex;
  width: 420px;
  justify-content: space-around;
  justify-items: center;
}

input {
  border-radius: 5px;
  border-style: none;
  width: 250px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

input::placeholder {
  text-align: center;
  color: white;
}

.btn-busca {
  border-radius: 25px;
  width: 140px;
  background: none;
  border-color: white;
  color: white;
  border-style: solid;
  font-weight: bold;
  margin-right: -10px;
}

.btn-busca:hover {
  color: rgb(182, 108, 224);
  border-color: rgb(182, 108, 224);
  font-weight: bold;
}

footer {
  height: 300px;
  width: 100%;
  background-color: rgba(12, 23, 85, 1);
}

/* .menu {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-color: white;
  border-style: solid;
  right: 20px;
}
#checkbox {
  display: none;
}
label {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 40px;
  display: block;
}

.hamburguer {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 30px;
  background-color: rgb(185, 13, 13);
  transition: 0.35s ease-in-out;
} */
