:root {
  --carrosel-width: 100%;
  --carrosel-height: 30%;
  --carrosel-itens: 12;
  --carrosel-itens-displayed: 8;
  --carrosel-itens-width: calc(
    var(--carrosel-width) / var(--carrosel-itens-displayed)
  );
  --carrosel-animation-duration: calc(var(--carrosel-itens) * 2s);
}
.slide {
  width: 100%;
  height: 600px;
}
.banner0 {
  display: flex;
  background-image: url('../img/banner0.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.banner1 {
  display: none;
  background-image: url('../img/banner-teste.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.banner2 {
  display: none;
  background-image: url('../img/raya.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.banner0 > h1 {
  margin-left: 20%;
  text-align: center;
  font-size: 60px;
  font-family: 'Righteous', cursive;
}

.banner0 > p {
  margin-left: 10%;
  text-align: center;
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
}

.banner1 > h1 {
  margin-left: 20%;
  text-align: center;
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-family: 'Righteous', cursive;
}

.banner1 > p {
  margin-left: 10%;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: 'Varela Round', sans-serif;
}
.banner2 > h1 {
  margin-left: 20%;
  text-align: center;
  font-size: 60px;
  font-family: 'Righteous', cursive;
}

.banner2 > p {
  margin-left: 10%;
  text-align: center;
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
}

.next {
  position: absolute;
  background-color: rgb(9, 15, 51, 0.7);
  height: 45px;
  width: 40px;
  z-index: 1;
  right: 0;
  margin-right: 3px;
  border-radius: 2px;
}

.next > h3 {
  text-align: center;
  padding: 3px;
}

.prev {
  position: absolute;
  height: 45px;
  width: 40px;
  z-index: 1;
  margin-left: 3px;
  background-color: rgb(9, 15, 51, 0.7);
  border-radius: 2px;
}

.prev > h3 {
  text-align: center;
  padding: 3px;
}
.prev:hover {
  background-color: rgba(114, 40, 94, 0.3);
  cursor: pointer;
  transition: 1s;
}

.next:hover {
  background-color: rgba(114, 40, 94, 0.3);
  cursor: pointer;
  transition: 1s;
}
.carrosel {
  position: relative;
  width: var(--carrosel-width);
  height: var(--carrosel-height);
  background-color: rgba(12, 23, 85, 1);
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carrosel-itens {
  list-style: none;
  display: flex;
  height: 100%;
  padding: 0;
  animation: scrolling var(--carrosel-animation-duration) linear infinite;
}

.carrosel-itens li {
  border: 1px solid rgb(182, 108, 224);
  width: var(--carrosel-itens-width);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--carrosel-itens-width) * var(--carrosel-itens))
    );
  }
}

.carrosel-itens:hover {
  animation-play-state: paused;

  /* cursor: pointer; */
}

.carrosel::before,
.carrosel::after {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  content: '';
  z-index: 1;
}

.carrosel::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(12, 23, 85, 1) 0%,
    transparent 100%
  );
}

.carrosel::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(12, 23, 85, 1) 0%,
    transparent 100%
  );
}

.filmes {
  padding: 50px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 2000px;
  background-color: #6a11cb;
  background: radial-gradient(rgb(101, 14, 104), rgba(12, 23, 85, 1));
}

.filmes > a {
  margin: 20px;
  width: 200px;
  height: 290px;
  border: 2px solid rgb(182, 108, 224);
  box-shadow: inset 0 0 1em rgb(47, 71, 207), 0 0 1em rgb(177, 71, 180);
}

a > img {
  position: absolute;
  width: 210px;
  height: 300px;
  padding: 5px;
}

a > p {
  display: none;
}

@media (max-width: 1000px) {
  .filmes {
    height: auto;
  }
}

@media (max-width: 800px) {
  :root {
    --carrosel-itens-displayed: 6;
  }
}

@media (max-width: 500px) {
  :root {
    --carrosel-itens-displayed: 3;
  }
  .banner {
    background-size: cover;
    background-position: center;
  }
}
