* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: gray;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.cabecalho {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.corpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

.div_nome {
  display: flex;
  justify-content: center;
}
.fieldset_nome {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  border: none;
}

.div_email {
  display: flex;
  justify-content: center;
}

.fieldset_email {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: none;
}

.div_endereco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fieldset_endereco {
  display: flex;
  flex-direction: column;
  border: none;
}
